@{
    ViewData["Title"] = "Aiden Hong";
}

<div class="text-center">
    <h1 class="display-4">ID : 01204898</h1>
    <p>My name is Aiden(GyoungHwan) Hong.</p>
    <p>I wanna ba a back-end developer with high salary in web dev field.</p>
</div>
